<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="Shortcut Icon" type="image/ico" href="images/favicon.svg">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>KHRC</title>
  <meta name="description" content="<%= locals.description %>">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">


  <link rel="stylesheet" href="./css/style.css"> <!-- Your custom CSS file -->
  <link rel="stylesheet" href="./css/header.css">
  <link rel="stylesheet" href="./css/common.css">

  <link rel="stylesheet" href="./css/scrollTop.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">
</head>

<body>

  <!-- NavBar -->
  <nav id="navbar" class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a class="navbar-brand mb-1 nav-heading" href="/home" style="font-size: 28px;">
      <!-- <img src="./medicalLogo.png" /> -->
      <!-- <i class="fa fa-stethoscope" style="font-size:30px;color:white"></i> -->
      <img src="./images/khrc_logo.png" alt="logo" width="130px">
    </a>
    <strong><p style="text-align: center;"><%= greeting %>  <%= user ? user.username : '' %> (User)</p></strong>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="reception-form"> Reception </a></li>
      <li>
        <a href="#">Storage</a>
        <div class="dropdown">
          <a href="#">CSS</a>
          <a href="#">LS1/1</a>
          <a href="#">LS1/2</a>
          <a href="#">LS2</a>
        </div>
      </li>
      <!-- <li><a href="About"> About </a></li> -->
      <li><a href="user-contact">Message Us</a></li>

      <div class="user-profile">
        <li>
          <i class="fa-solid fa-user" id="userIcon"></i>
          <div class="setting-dropdown">
              <a href="#"><%= user ? user.username : '' %></a>
              <a href="/change-password/<%= user._id %>"><i class="fa-solid fa-gear"></i> Settings</a>
              <a href="/profile/<%= user._id %>"><i class="fa-solid fa-user"></i> Profile</a>
              <hr>
              <a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
          </div>
      </li>
      
        <div id="userDropdown" class="profile-card">
          <!-- Your profile card content goes here -->
        </div>
      </div>

      <div class="logout-container">
        <form action="/logout" method="get">
           <button type="submit" class="logout-button">
           <i class="fas fa-sign-out-alt"></i> Logout
       </button>
     </form>
 </div>
      <!-- <li><a href="logout" style="color: white; text-decoration: none;">Logout</a></li> -->
    </ul>
  </nav>

<!-- include style -->
<%- include('include/_indexCss') %>
<!-- /include style -->



<!-- Add the following block to your existing HTML file where you want the search inputs -->
<div style="padding-top: 5rem; margin-top: 5rem; margin-bottom: 3rem;" class="container">
  <div style="margin-bottom: 4rem;" class="row my-4">
      <div style="width: 100%; display: flex; justify-content: center;" class="col-md-8 offset-md-2">
          <div style="display: flex; justify-content: flex-end; align-items: center;" class="input-group">
            <form class="nav col-12 col-md-auto flex-fill mb-2 mb-md-0" role="search" method="POST" action="/search">
              <input style="margin-right: 1rem;" name="searchTerm" type="text" id="search" class="form-control" placeholder="Search by Keyword...">
              <!-- <select class="form-select" id="storageSearch">
                  <option value="">Select Type</option>
              </select> -->
            </form>
          </div>
      </div>
  </div>
</div>


<div class="button-container">
  <button class="button">RECEPTION PANEL</button>
  <a href="reception-form" class="button"><i class="fa-solid fa-database"></i>  RECEPTION</a>
  <a href="/viewReception" class="button"><i class="fa-solid fa-eye"></i>  VIEW ALL RECEPTIONS</a>
</div>

<!-- <div class="btn-group me-2">
  <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
  <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
</div> -->

<br>
      <p class="text-center" id="subHead1"><b>Cross-sectional Survey-CSS</b></p>
      <p class="text-center" id="subHead1"><b>LS1 & LS2 Storage</b></p>
<hr></hr>

<!-- include display -->
<%- include('include/_display') %>
<!-- /include display -->

<h1 style="text-align: center;">
  <a href="https://git.io/typing-svg"><img src="https://readme-typing-svg.herokuapp.com?font=Fira+Code&pause=1000&width=435&lines=Welcome+to+the+KHRC+Software!...;Welcome+to+the+KHRC+Software!...;Welcome+to+the+KHRC+Software!...;Welcome+to+the+KHRC+Software!&center=true&size=20" alt="Typing SVG" /></a>
</h1>
    
<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->

<script>
    function promptPassword() {
      const password = prompt('Enter the password:');
      if (password) {
        window.location.href = `/reception-form?password=${password}`;
      } else {
        alert('Password is required.');
      }
    }
  </script>


