<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- include style -->
<%- include('include/_indexCss') %>
<!-- /include style -->

<!-- Section for Adding Health Records -->
<div class="container pt-5 mt-5 my-3">
    <div class="storage-container">
      <div>
    
      <button class="storage-button">
        <i class="fas fa-database icon"></i> LS1 STORAGE
    </button>
    
      <button class="storage-button">
          <a href="view-ls1" style="text-decoration: none;"><i class="fas fa-eye icon"></i> VIEW STORAGE </a>
      </button>
      <button class="storage-button">
        <a href="/ls1-1-table" style="text-decoration: none;"><i class="fas fa-eye icon"></i> STORAGE POSITION </a>
    </button>
    </div>
    </div>
    
    
    
    <div class="storage-container">
      <!-- Reception Form -->
      <form action="ls1-storage" method="POST" id="receptionForm">
        <div class="form-group row">
            
            <label for="sampleIdInput" class="col-sm-2 col-form-label">Sample ID (SID):</label>
          <div class="col-sm-4 position-relative">
            <select name="sampleId" class="form-control" id="sampleIDInput">
              <% sampleIds.forEach(sampleId => { %>
              <option value="" disabled selected hidden>Select Sample ID</option>
                <option value="<%= sampleId %>"><%= sampleId %></option>
              <% }); %>
            </select>
          </div>
  
            <label for="visitNameInput" class="col-sm-2 col-form-label">Visit Name:</label>
              <div class="col-sm-4 position-relative">
                  <select id="sampleType" class="form-control" name="visitName" required>
                    <option value="" disabled selected hidden>Select Visit Name</option>
                      <option value="m0">M0</option>
                      <option value="m6">M6</option>
                      <option value="m12">M12</option>
                      <option value="m18">M18</option>
                      <option value="m24">M24</option>
                  </select>
              </div>
        </div>
  
        <div class="form-group row">
            <label for="sampleType" class="col-sm-2 col-form-label">Sample Type:</label>
            <div class="col-sm-4 position-relative">
                <select id="sampleType" class="form-control" name="sampleType">
                    <option value="" disabled selected hidden>Select Sample Type</option>
                    <option value="Urine">Urine</option>
                    <option value="Scvs">SCVS</option>
                </select>
            </div>
  
            <label for="roomNumber" class="col-sm-2 col-form-label">Room Number:</label>
            <div class="col-sm-4 position-relative">
                <select id="roomNumber" class="form-control" name="roomNumber">
                   <option value="" disabled selected hidden>Select Room Number</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
            </div>
        </div>
  
        <!-- Add -->
        <div class="form-group row">
            <label for=" freezerNumber" class="col-sm-2 col-form-label">Freezer Number:</label>
            <div class="col-sm-4 position-relative">
                <input type="text" name="freezerNumber" class="form-control" id=" freezerNumber" value="1" readonly>
            </div>
    
            <label for="boxNumber" class="col-sm-2 col-form-label">Box Number:</label>
            <div class="col-sm-4 position-relative">
                <input type="text" name="boxNumber" class="form-control" id="boxNumber" placeholder="Box Number (auto)"  readonly>
            </div>
        </div>
  
        <div class="form-group row">
            <label for="row" class="col-sm-2 col-form-label">Row:</label>
            <div class="col-sm-4 position-relative">
                <input type="text" name="row" class="form-control" id="row" placeholder="Row" readonly>
            </div>
          <label for="column" class="col-sm-2 col-form-label">Column:</label>
          <div class="col-sm-4 position-relative">
              <input type="text" name="column" class="form-control" id="column" placeholder="Column" readonly>
          </div>
            </div>
  
            <div class="form-group row">
                <label for="compartment" class="col-sm-2 col-form-label">Compartment:</label>
                    <div class="col-sm-4 position-relative">
                        <input type="text" name="compartment" class="form-control" id="Input" placeholder="Compartment" readonly>
                    </div>
                <label for="rack" class="col-sm-2 col-form-label">Rack:</label>
                    <div class="col-sm-4 position-relative">
                        <input type="text" name="rack" class="form-control" id="rack" placeholder="Rage" readonly>
                    </div>
                </div>
  
                <div class="form-group row">
                    <label for="tray" class="col-sm-2 col-form-label">Tray:</label>
                    <div class="col-sm-4 position-relative">
                        <input type="text" name="tray" class="form-control" id="tray" placeholder="Tray" readonly>
                    </div>
                    <label for="dnaExtration" class="col-sm-2 col-form-label">DNA Extration:</label>
                    <div class="col-sm-4 position-relative">
                        <input type="text" name="dnaExtration" class="form-control" id="dnaExtration" value="1" readonly>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="urinePalletA" class="col-sm-2 col-form-label">Urine Pallet A:</label>
                    <div class="col-sm-4 position-relative">
                        <input type="text" name="urinePalletA" class="form-control" id="urinePalletA" value="A" readonly>
                    </div>
                    <label for="urinePalletB" class="col-sm-2 col-form-label">Urine Pallet B:</label>
                    <div class="col-sm-4 position-relative">
                        <input type="text" name="urinePalletB" class="form-control" id="urinePalletB" value="B" readonly>
                    </div>
                </div>
  
        <div class="form-group row">
          <label for="commentsInput" class="col-sm-2 col-form-label">Comments:</label>
            <div class="col-sm-4 position-relative">
                <textarea name="comments" class="form-control" id="commentsInput" rows="4" placeholder="Comments"></textarea>
            </div> 
  
            <label for="dateOfEntryInput" class="col-sm-2 col-form-label">Date of Entry:</label>
            <div class="col-sm-4 position-relative">
                <input type="date" name="dateOfEntry" class="form-control" id="dateOfEntryInput">
            </div>
  
            <label for="entryDoneByInput" class="col-sm-2 col-form-label">Entry Done By:</label>
            <div class="col-sm-4 position-relative">
                <input type="text" name="entryDoneBy" class="form-control" id="entryDoneByInput" value="<%= user ? user.username : '' %>" readonly>
            </div>
        </div>
  
        <!-- Button -->
        <div class="form-group row">
            <div class="col-sm-12">
                <button type="submit" class="btn text-light btn-large btn-block" style="background-color: #b40c57;" id="add-record-btn">Add Your Record</button>
            </div>
        </div>
        <strong><p style="text-align: center;">Logged in: <%= user ? user.username : '' %></p></strong>
      </form>
    </div>

<!-- <script>
    function toggleForm() {
        var storageButton = document.querySelector(".storage-button");
        var storageForm = document.getElementById("storageForm");

        storageButton.style.display = "none";
        storageForm.style.display = "block";
    }
</script> -->
  <script>
    function toggleForm() {
        var form = document.getElementById("storageForm");
        form.style.display = (form.style.display === "none" || form.style.display === "") ? "block" : "none";
    }


      // Function to format the current date and time
      function getCurrentDateTime() {
        const now = new Date();
        const formattedDateTime = now.toISOString().slice(0, 16); // Format: "YYYY-MM-DDTHH:mm"
        return formattedDateTime;
    }

    // Set the default values on page load
    document.getElementById("dateOfEntryInput").value = getCurrentDateTime();
</script>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->