<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->


<!-- include style -->
<%- include('include/_indexCss') %>
<!-- /include style -->

<!-- Section for Adding Health Records -->
<div class="container pt-5 mt-5 my-3">
    <div class="storage-container">
    
      <button class="storage-button" onclick="toggleForm()">
          <i class="fas fa-database icon"></i> LS2 STORAGE
      </button>
      <button class="storage-button">
        <a href="all-ls2"><i class="fas fa-eye icon"></i> VIEW LS2 STORAGE </a>
    </button>
    <button class="storage-button">
        <a href="/ls2-table"><i class="fas fa-eye icon"></i> STORAGE POSITION </a>
    </button>
    </div>
    </div>
    
    
    <div class="storage-container">
      <!-- Reception Form -->
      <form action="ls2-storage" method="POST" id="receptionForm">
        <div class="form-group row">
            <label for="sampleIdInput" class="col-sm-2 col-form-label">Sample ID (SID):</label>
            <div class="col-sm-4 position-relative">
                <input type="text" name="sampleId" class="form-control" id="sampleIDInput" placeholder="Subject">
            </div>
  
            <label for="visitNameInput" class="col-sm-2 col-form-label">Visit Name:</label>
              <div class="col-sm-4 position-relative">
                  <select id="sampleType" class="form-control" name="visitName">
                      <option value="m0">M0</option>
                      <option value="m6">M6</option>
                      <option value="m12">M12</option>
                      <option value="m18">M18</option>
                      <option value="m24">M24</option>
                  </select>
              </div>
        </div>
  
        <div class="form-group row">
            <label for="sampleType" class="col-sm-2 col-form-label">Sample Type:</label>
            <div class="col-sm-4 position-relative">
                <input type="text" name="sampleType" class="form-control" id="sampleTypeInput" value="SCVS" readonly>
            </div>
  
            <label for="roomNumber" class="col-sm-2 col-form-label">Room Number:</label>
            <div class="col-sm-4 position-relative">
                <select id="roomNumber" class="form-control" name="roomNumber">
                    <option value="No room number selected">Select a room</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
            </div>
        </div>
  
        <!-- Add -->
        <div class="form-group row">
          <label for="boxNumber" class="col-sm-2 col-form-label">Box Number:</label>
          <div class="col-sm-4 position-relative">
              <input type="text" name="boxNumber" class="form-control" id="boxNumber" value="1" readonly>
          </div>
  
          <label for="row" class="col-sm-2 col-form-label">Row:</label>
          <div class="col-sm-4 position-relative">
              <input type="text" name="row" class="form-control" id="row" placeholder="Row" readonly>
          </div>
      </div>
  
      <div class="form-group row">
        <label for="column" class="col-sm-2 col-form-label">Column:</label>
        <div class="col-sm-4 position-relative">
            <input type="text" name="column" class="form-control" id="column" placeholder="Column" readonly>
        </div>
  
            <label for="compartment" class="col-sm-2 col-form-label">Compartment:</label>
              <div class="col-sm-4 position-relative">
                  <input type="text" name="compartment" class="form-control" id="Input" placeholder="Compartment">
              </div>
          </div>
  
          <div class="form-group row">
              <label for="rage" class="col-sm-2 col-form-label">Rage:</label>
              <div class="col-sm-4 position-relative">
                  <input type="text" name="rage" class="form-control" id="rage" placeholder="Rage">
              </div>
            
            <label for="urinePalletA" class="col-sm-2 col-form-label">Urine Pallet A:</label>
              <div class="col-sm-4 position-relative">
                  <input type="text" name="urinePalletA" class="form-control" id="urinePalletA" value="A" readonly>
              </div>
          </div>
  
          <div class="form-group row">
              
              <label for="urinePalletB" class="col-sm-2 col-form-label">Urine Pallet B:</label>
              <div class="col-sm-4 position-relative">
                  <input type="text" name="urinePalletB" class="form-control" id="urinePalletB" value="B" readonly>
              </div>
              <label for="dnaExtration" class="col-sm-2 col-form-label">DNA Extration:</label>
              <div class="col-sm-4 position-relative">
                  <input type="text" name="dnaExtration" class="form-control" id="dnaExtration" placeholder="DNA Extration">
              </div>
          </div>
  
        <div class="form-group row">
          <label for="commentsInput" class="col-sm-2 col-form-label">Comments:</label>
            <div class="col-sm-4 position-relative">
                <textarea name="comments" class="form-control" id="commentsInput" rows="4" placeholder="Comments"></textarea>
            </div> 
  
            <label for="dateOfEntryInput" class="col-sm-2 col-form-label">Date of Entry:</label>
            <div class="col-sm-4 position-relative">
                <input type="date" name="dateOfEntry" class="form-control" id="dateOfEntryInput">
            </div>
  
            <label for="entryDoneByInput" class="col-sm-2 col-form-label">Entry Done By:</label>
            <div class="col-sm-4 position-relative">
                <input type="text" name="entryDoneBy" class="form-control" id="entryDoneByInput" value="<%= user ? user.username : '' %>" readonly>
            </div>
        </div>
  
        <!-- Button -->
        <div class="form-group row">
            <div class="col-sm-12">
                <button type="submit" class="btn text-light btn-large btn-block" style="background-color: #b40c57;" id="add-record-btn">Add Your Record</button>
            </div>
        </div>
        <strong><p style="text-align: center;">Logged in: <%= user ? user.username : '' %></p></strong>
      </form>
    </div>

<!-- <script>
    function toggleForm() {
        var storageButton = document.querySelector(".storage-button");
        var storageForm = document.getElementById("storageForm");

        storageButton.style.display = "none";
        storageForm.style.display = "block";
    }
</script> -->
  <script>
    function toggleForm() {
        var form = document.getElementById("storageForm");
        form.style.display = (form.style.display === "none" || form.style.display === "") ? "block" : "none";
    }


      // Function to format the current date and time
      function getCurrentDateTime() {
        const now = new Date();
        const formattedDateTime = now.toISOString().slice(0, 16); // Format: "YYYY-MM-DDTHH:mm"
        return formattedDateTime;
    }

    // Set the default values on page load
    document.getElementById("dateOfEntryInput").value = getCurrentDateTime();
</script>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->