<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View/ CSS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5 mx-auto">
    <div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2"><%= storage.sampleId %> <%= storage.sampleType %></h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
        </div>
    </div>

    <div class="col py-3">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="#">Reception</a></li>
                        <li class="breadcrumb-item active"><%= storage.sampleId %></li>
                    </ol>
                </nav>
            </div>
            <div class="col text-end fw-lighter">
                <b>Last Updated <%= new Date(storage.updatedAt).toUTCString() %> </b>
                <b>UserId:</b> <%= storage._id %>
            </div>
        </div>
    </div>

    <ul class="list-group">
        <li class="list-group-item"> 
            <div class="row">
                <div class="col" style="max-width: 140px"> <b>SampleID (SID):</b></div>
                <div class="col"><%= storage.sampleId %></div>
            </div>
        </li>
        <li class="list-group-item"> 
            <div class="row">
                <div class="col" style="max-width: 140px"> <b>Sample Type:</b></div>
                <div class="col"><%= storage.sampleType %></div>
            </div>
          </li>
        <li class="list-group-item"> 
            <div class="row">
                <div class="col" style="max-width: 140px"> <b>Visit Name:</b></div>
                <div class="col"><%= storage.visitName %></div>
            </div>
        </li>
        <li class="list-group-item"> 
          <div class="row">
              <div class="col" style="max-width: 140px"> <b>Room Number:</b></div>
              <div class="col"><%= storage.roomNumber %></div>
          </div>
      </li>
    

<li class="list-group-item"> 
  <div class="row">
      <div class="col" style="max-width: 140px"> <b>Box Number:</b></div>
      <div class="col"><%= storage.boxNumber %></div>
  </div>
</li>
<li class="list-group-item"> 
  <div class="row">
      <div class="col" style="max-width: 140px"> <b>Row:</b></div>
      <div class="col"><%= storage.row %></div>
  </div>
</li>
<li class="list-group-item"> 
  <div class="row">
      <div class="col" style="max-width: 140px"> <b>Column:</b></div>
      <div class="col"><%= storage.column %></div>
  </div>
</li>
<li class="list-group-item"> 
  <div class="row">
      <div class="col" style="max-width: 140px"> <b>Compartment:</b></div>
      <div class="col"><%= storage.compartment %></div>
  </div>
</li>
<li class="list-group-item"> 
  <div class="row">
      <div class="col" style="max-width: 140px"> <b>Rage:</b></div>
      <div class="col"><%= storage.rage %></div>
  </div>
</li>
<li class="list-group-item"> 
  <div class="row">
      <div class="col" style="max-width: 140px"> <b>Urine Pallet A:</b></div>
      <div class="col"><%= storage.urinePalletA %></div>
  </div>
</li>
<li class="list-group-item"> 
    <div class="row">
        <div class="col" style="max-width: 140px"> <b>Urine Pallet B:</b></div>
        <div class="col"><%= storage.urinePalletB %></div>
    </div>
  </li>
  <li class="list-group-item"> 
    <div class="row">
        <div class="col" style="max-width: 140px"> <b>DNA Extration:</b></div>
        <div class="col"><%= storage.dnaExtration %></div>
    </div>
  </li>
<li class="list-group-item"> 
  <div class="row">
      <div class="col" style="max-width: 140px"> <b>Comments:</b></div>
      <div class="col"><%= storage.comments %></div>
  </div>
</li>
<li class="list-group-item"> 
  <div class="row">
      <div class="col" style="max-width: 140px"> <b>Date of Entry:</b></div>
      <div class="col"><%= storage.dateOfEntry %></div>
  </div>
</li>
<li class="list-group-item"> 
  <div class="row">
      <div class="col" style="max-width: 140px"> <b>Date of Entry:</b></div>
      <div class="col"><%= storage.entryDoneBy %></div>
  </div>
</li>

<li class="list-group-item"> 
  <div class="row">
    <div class="col" style="max-width: 140px"> <b>Date Created:</b></div>
    <div class="col"><%= storage.createdAt %></div>
  </div>
</li>

<li class="list-group-item"> 
  <div class="row">
    <div class="col" style="max-width: 140px"> <b>Date Modified:</b></div>
    <div class="col"><%= storage.updatedAt %></div>
  </div>
</li>
    </ul>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.9/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
