<style>
    .storage-info {
        text-align: center;
      margin-top: 20px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  </style>

 <!-- Display information about the latest storage entry -->
 <div class="storage-info">
  <% if (latestStorageLs2) { %>
    <h2>Latest LS2:</h2>
  <% } else { %>
    <p>No storage data available for LS2</p>
  <% } %>
</div>

<div class="container mx-auto">
    <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
            <tr>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Sample ID</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Visit Name</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Sample Type</th>
                <!-- <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Visit Date</th> -->
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Room Number</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Box Number</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Row</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Column</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Comments</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Entry Done By</th>
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200" id="tbody">
            <% if (latestStorageLs2) { %>
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap"><%= latestStorageLs2.sampleId %></td>
                    <td class="px-6 py-4 whitespace-nowrap"><%= latestStorageLs2.visitName %></td>
                    <td class="px-6 py-4 whitespace-nowrap"><%= latestStorageLs2.sampleType %></td>
                    <td class="px-6 py-4 whitespace-nowrap"><%= latestStorageLs2.roomNumber %></td>
                    <td class="px-6 py-4 whitespace-nowrap"><%= latestStorageLs2.boxNumber %></td>
                    <td class="px-6 py-4 whitespace-nowrap"><%= latestStorageLs2.row %></td>
                    <td class="px-6 py-4 whitespace-nowrap"><%= latestStorageLs2.column %></td>
                    <td class="px-6 py-4 whitespace-nowrap"><%= latestStorageLs2.comments %></td>
                    <td class="px-6 py-4 whitespace-nowrap"><%= latestStorageLs2.entryDoneBy %></td>
                </tr>
                <% } else { %>
                    <p>No storage data available</p>
                  <% } %>
          </tbody>
    </table>
    
    <div class="see-all">
        <a href="/all-ls2">see all ...</a>
        </div>
    </div>
    
    <style>
    .see-all {
        text-align: right;
        margin-top: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    </style>